SECRET_KEY=django-insecure-replace-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL connection
DB_NAME=smart_fish_farm
DB_USER=myuser
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432

OPENWEATHER_API_KEY=
OPENWEATHER_LOCATION=Chandpur,Bangladesh

FARM_NOTIFICATION_EMAIL=farmer@example.com
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_TO_NUMBER=

FEED_COST_PER_KG=1.20
DEFAULT_FCR=1.50
DEFAULT_MARKET_WEIGHT_G=500
